.game{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.example{
  font: 30px / 1 'Arial';
  margin-top: 20px;
}

input[type="text"]{
  width: 20px;
  text-align: center;
}
